*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html {
    max-width: 100vw;
    overflow-x: hidden;
}


body{
    font-size: 0.875em; /*14px*/
    background-color: hsl(217, 27%, 15%);
    color:white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1, h2, h3, h4{
    font-family: "Raleway";
}

.navbox{
    background-color: hsl(217, 27%, 15%);
    position: fixed;
    top:0; 
    width: 100%;
    z-index: 2;
}

.logoNav{
    display:flex;
    width:95%;
    margin:4.5rem 4rem 0 4rem;
    justify-content: space-between;
    align-items: center;
}


.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav ul li{
    display: inline-block;
    padding: 0 30px 0;
}

.nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

.nav ul li a:hover {
   color:white;
   border-bottom: 1px solid white;
   font-weight: bolder;
}

.hamburger{
    display: none;
}

@media screen and (max-width:765px){
    .logo-nav{
        margin:4.5rem 2rem 0 2rem;
    }

    .nav{
        display:none;
        position: absolute;
        top:128px;
        right: 0;
        width:250px;
        padding-bottom: 20px;
        background-color: hsla(217, 27%, 15%, 0.472);
        border-top: 1px solid rgba(255, 255, 255, 0.062) ;
        border-bottom-left-radius: 30px;
        border-bottom: 1px solid hsla(176, 68%, 64%, 0.623);
    }

    .nav ul{
        flex-direction: column;
        
    }

    .nav ul li{
        padding:10px 0;
        border-top: 1px solid white ;
        width: 100%;
        text-align: center;
    }

    .nav ul li:hover {
        background-color: hsla(176, 68%, 64%, 0.623);
        border-bottom: none;
        font-weight: bolder;
     }

    .hamburger{
        display: flex;
        width:50px;
        height:50px;
        position: relative;
        right: 50px;
        
    }

    .hamburger i{
        color:indianred;
        font-size: 30px;
        
    }

}

.illustration-intro img{
    margin:auto;
    display: block;
    width:60%;

}

.illustration-intro{
    margin:150px 0 50px;
}

.background-slope{
    background-image: url("../images/bg-curvy-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    padding: 100px;
}

@media screen and (max-width:768px){
    .background-slope{
        background-image: url("../images/bg-curvy-mobile.svg");
        padding: 0;
    }
}

.display{
    display:block;
}

.content1{
   margin: auto;
   width:600px; 
   text-align: center;
   line-height: 1.5;
   word-spacing: 2px;
   font-size: 1.3125rem;  /*21px*/
}

.content1 .text h2 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 695px){
    .content1{
        width:100%;
        line-height: 1.5;
        word-spacing: 1.5px;
        font-size:1.115rem;
        padding: 70px 40px;
    }
}

.getstarted a{
    text-decoration: none;
    color:whitesmoke;
    
}

.getstarted{
    margin-top: 5%;
    width: 300px;
    height:60px;
    background: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

@media screen and (max-width:765px){
    .getstarted{
        width: 200px;
        height: 50px;
    }
}

.getstarted:hover{
    background:hsla(176, 93%, 79%, 0.89);
}

.new-background{
    background-color:  hsl(218, 28%, 13%);
    position:relative;
    bottom:0;
}

.content2 {
    width:100%;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    margin: auto
}



.Text-one{
    display: flex;
    flex-direction: row
}

.Text-two{
    display: flex;
    flex-direction: row
}

.content2 .text{
    width:505px;
    padding:50px;
    text-align: center;
    line-height: 1.3;
    word-spacing: 1px;
    font-size: 1.15rem;
}

.content2 .text img{
    margin-bottom: 30px;
}

.content2 .text h3 {
    margin-bottom: 10px;
}

@media screen and (max-width:1010px){
    .content2 .text{
        width:400px;
        padding:40px;
    }
}

@media screen and (max-width:765px){
    .content2 {
        width:100%;
    }

    .Text-one, .Text-two{
        flex-direction: column;
    }

    .content2 .text{
        width:100%;
        padding: 35px 100px;
    }
}

@media screen and (max-width:500px){
    .content2 .text{
        width:100%;
        padding: 35px;
    }
}

.content3{
    display:flex;
    line-height: 1.2;
    font-size: 1.2rem;  
    margin:60px auto;
    justify-content:center;
    font-weight:100;    
    flex-wrap: wrap;
}

.content3 .text{
    width:609px;
    padding: 155px 60px;
}

.content3 .content3-img img{
    max-width:98vw;
}

.content3 .text h1{
    font-size: 2.8125rem;    /* 45px   */
}

.content3 .text p{
    margin-top: 25px;
}

.content3 .text a {
    margin-top: 25px;
    display: inline-block;   
    color: hsl(176, 68%, 64%);
    text-decoration:none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:hsl(176, 68%, 64%) ;
    padding-bottom: 3px;
}

.content3 .text a:hover{
    color: white;
    border-bottom: 1px solid white;
}

.content3 .text a:hover span{
    filter: grayscale(1)
}

@media screen and (max-width:765px){
    .content3 .text{
        width:100%;
        padding: 155px 40px;
    }

}

.content4 {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap:wrap;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-origin: content-box;
}

.content4 .foundersDetail{
    width:430px;
    font-size: 1.1rem;
    margin:20px;
    background-color:  hsl(219, 30%, 18%);
    padding: 40px;
}

.content4 .foundersDetail .founder{
    display: flex;
    margin-top: 20px;
}

.content4 .foundersDetail .founder .two{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.content4 .foundersDetail .founder .two h6{
    font-weight: bolder;
}

.content4 .foundersDetail .founder img{
    width:50px;
    border-radius: 50%;
}

.content4 .foundersDetail .founder p{
    display: inline;
}

.empty{
    height:410px;
}

.content5{
    width:1000px;
    display: flex;
    right: calc(50% - 500px);
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    margin-top: 250px;
    padding: 50px 80px;
    text-align: center;
    position: absolute;
    bottom:-130px;
}

.content5 .text{
    font-size: 1.3rem;
}

.content5 .text h1{
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.content5 .email{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.content5 .email input[type="email"], .content5 .email .getstarted{
    margin: 5px 10px;
    width: 550px;
    height:50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
}

.content5 .email input[type="email"]{
     padding-left: 50px;
}

@media screen and (max-width:1050px){
    .content5{
        width: 700px;
        right: calc(50% - 350px);
        bottom:-175px;
    }

    .content5 .email input[type="email"]{
        width: 350px;
    }

}

@media screen and (max-width:823px){
    .content5{
        width: 600px;
        right: calc(50% - 306px);
        bottom:-210px;
        
    }

    .content5 .email{
        flex-direction: column;
    }

    .content5 .email input[type="email"], .content5 .email .getstarted{
        width: 400px;
        height:50px;
        margin: 5px 20px;
    }
}

@media screen and (max-width:651px) {
    .content5{
        width: 400px;
        right: calc(50% - 198px);
        padding:50px 25px 20px;
        bottom:-240px;
    }

    .content5 .email input[type="email"], .content5 .email .getstarted{
        width: 350px;
        height:50px;
        margin:5px 0;
    }
}

@media screen and (max-width:420px){
    .content5{
        width: 310px;
        right: calc(50% - 156px);
        padding:50px 25px 20px;
    }

    .content5 .text{
        font-size: 1.1rem;
    }

    .content5 .email input[type="email"], .content5 .email .getstarted{
        width: 240px;
        height:50px;
        margin:5px 10px;
    }

}


.footer{
    background-color: hsl(216, 53%, 9%);
    display: flex;
    padding:200px 50px 50px 150px;
    flex-direction: column;
    font-size: 1.2rem;
}

.footer ul {
    list-style-type: none;
}

.after-logo{
    display: flex;
    padding:50px;
    width:100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.after-logo a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding-bottom: 1rem;
}

.after-logo-one{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.after-logo-one I{
     margin-right:1rem;
}

.after-logo-two{
    display: flex;
    width:80%;
    margin-left: 6rem;
    justify-content: space-between;
    
}

.location{
   width:25rem;
}

div.socialMedia{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

div.socialMedia div.I{
    border-radius: 50%;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

div.socialMedia i{
    font-size: 1.5rem;
}

div.socialMedia a{
     padding-bottom: 0;
}

.location{
    display: inline-flex;
    flex-direction: row;
}

.attribution-container{
    text-shadow: 0px 0.5px black;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 25px;
}

.attribution-container a{
    text-decoration: none;
    color:inherit;
    font-size: 1.5rem;
    border-bottom:1px solid  transparent;
    padding: 8px;
    word-break: keep-all;
}

.attribution-container a:hover{
    border-bottom:1px solid hsl(198, 60%, 50%) ;
    color:hsl(176, 68%, 64%);
}

@media screen and (max-width:1483px){

    .footer{
        padding:200px 0 50px 90px;
    }
    .after-logo{
        padding: 25px;
    }

    .phoneAndEmail{
        margin-left: 1rem;
    }

}

@media screen and (max-width:1233px){
    .after-logo{
        flex-direction: column;
    }

    .after-logo-two{
        margin: 50px 0 10px 0;
        width:100%;
    }
}

@media screen and (max-width:768px){
    .footer{
        padding:280px 0 50px 30px;
    }


    .after-logo{
        padding:0;
    }

    .after-logo-one, .after-logo-two{
        flex-direction: column;
        margin: 0;

    }

    .location,.phoneAndEmail, .aboutus, .contactUs, div.socialMedia{
        width: 100%;
        margin: 50px 0 0;
    }

    .aboutus, .contactUs{
        margin-left: 2.35rem;
    }

    div.socialMedia{
        justify-content: center;
        margin-left: -20px;
    }

    .attribution-container{
        flex-direction: column;
        margin:40px 35px 0;
        padding: 0;
    }

   
    .attribution-container div.two{
        margin-top: 30px;
    }

}

